.navbar-brand {
	color: #94f229;
	font-family: 'Dosis', sans-serif;
	font-size: 28pt;
	
}

.navbar-collapse {
	flex-grow: 0;
}

.nav-item {
	color: #a4c653;
	
}

.btn {
	margin-right: 15px;
	color: black;
	font-family: 'Dosis', sans-serif;
	font-size: 16pt;
	border-color: 
}

#nav {
	position: fixed;
	width: 100%;
	z-index: 10;
}