.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #29c7d8;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  background-image: url(http://www.wallcoo.net/human/SZ_206_Entironment_03_city_Photo_manipulation/wallpapers/1920x1200/Photo%20manipulation%20of%2003_Human%20and%20Green%20064_Greeny_Nature.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
