.Head {

	
	margin-top: 81px !important;
	font-family: 'Dosis', sans-serif;
	font-size: 40pt;
	color: white;
	position: fixed;
	z-index: 10;
	background: transparent;
	width: 98%;
	border-bottom: 3px solid white;
	background-image: url(https://i.ytimg.com/vi/jNT3O4NlSTo/maxresdefault.jpg);
 	background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
}


.dashboard-questions {
	width: 250px;
	color: black;
}

.questions {
	color: white;
	/* justify-content: center; */
	margin-left: 60px;
	margin-bottom: 20px;
	margin-top: 50px;
	padding:15px; 
}

#dropdownMenuButton {
	margin-left: 50px;
}

.question-col {
	margin-top: 200px;
} 

.btn3 {
	color: #000000;
	background-color: #0636FF;
	font-family: 'Dosis', sans-serif;
	font-size: 22pt;
	width: 100%;
	margin-top: 30px;
}

.btn-caption {
	color: white;
	background-color: transparent;
	font-family: 'Dosis', sans-serif;
	font-size: 24pt;
	width: 100%;
	margin-top: 30px;
}