.Head {

	margin-right: 910px;
	margin-top: 30px;
	font-family: 'Dosis', sans-serif;
	font-size: 40pt;
	color: white;
}

.Head2 {
	margin-right: 910px;
	font-family: 'Dosis', sans-serif;
	font-size: 16pt;
	color: white;
}

